# Exclude all but .vim directory
/*
!.vim
!.vimrc

# Sessions is created if it doesn't exist
.vim/sessions

# Dont track bundles (use BundleInstall in vim)
.vim/bundle/*
# Except a submodule to Vundle
!.vim/bundle/Vundle.vim

# Dont track backup files
.vim/backup/*
!.vim/backup/README.md

# Undodir must be created
.vim/undodir/*
!.vim/undodir/README.md

# keep README
!README.md
