# Exclude all but .vim directory
/*
!.vim
!.vimrc

# Sessions is created if it doesn't exist
.vim/sessions

# Dont track backup files
.vim/backup/*

# Undodir must be created
.vim/undodir/*
!.vim/undodir/.README
